body{
    background-color: #fafbfc;
/*    width: 630px;
    border: 1px solid darkgray;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
/*    font-size: x-large;
    padding-left: 2%;
    padding-right: 2%;*/*/
}
